<div >
        <br>
        <br>
                      
          &nbsp;  &nbsp;  &nbsp;   <input type="button" value="Flight Information" class="btn btn-success" (click)= "flight()" > &nbsp;    
    <input type="button" value="User Information" class="btn btn-success" (click)= "user()">&nbsp;   
    <input type="button" value="Booking Information" class="btn btn-success" (click)="booking()">&nbsp;   
    <input type="button" value="Seat Status" class="btn btn-success" (click)="seat() ">&nbsp; 
    <input type="button" value="LOGOUT" class="btn btn-success" (click)="logout() ">
    </div>
