<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<div id="container">
  <div id="title">
      <app-title></app-title>
      

  </div>
  
  <div id="header">
      <app-header></app-header>
  </div>
  


<div id="body" >
    <router-outlet></router-outlet>
</div>

  

<footer class="footer-distributed">
    
          <div class="footer-left">
    
            <h3>DIVYAM AIRLINES</h3>
    
            <p class="footer-links">
              <a href="#">Home</a>
              ·
              <a href="#">Blog</a>
              ·
              <a href="#">Pricing</a>
              ·
              <a href="#">About</a>
              ·
              <a href="#">Faq</a>
              ·
              <a href="#">Contact</a>
            </p>
    
            <p class="footer-company-name">DIVYAM AIRLINES &copy; 2018</p>
          </div>
    
          <div class="footer-center">
    
            <div>
              <i class="fa fa-map-marker"></i>
              <p><span>EMBASSY TECH VILLAGE</span> BANGALORE, KARNATAKA</p>
            </div>
    
            <div>
              <i class="fa fa-phone"></i>
              <p>+918147601204</p>
            </div>
    
            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:support@company.com">divyamairlines@company.com</a></p>
            </div>
    
          </div>
    
          <div class="footer-right">
    
            <p class="footer-company-about">
              <span>About the company</span>
              FLY SAFE, STAY AHEAD
            </p>
    
            <div class="footer-icons">
              
    
    
              <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a>
              
              <a href="https://github.com/"><i class="fa fa-github"></i></a>
    
            </div>
    
          </div>
    
        </footer>
      </div>
  

