<div id="book">
    <br>
    <br>
    <br>
    <br>
    <input style="width:50%" type="button" name="BOOK" value="BOOK" class="btn btn-success" (click)= "formBookFlight()"><!-- BOOK FLIGHT</a> -->   <br><br>
    <input style="width:50%" type="button" name="RESCHEDULE" VALUE="RESCHEDULE" class="btn btn-success" (click)= "formReschedule()"><!-- RESCHEDULE</a> -->  <br><br>
    <input style="width:50%" type="button" name="RESCHEDULE" VALUE="CANCELLATION" class="btn btn-success" (click)= "formCancel()"><br><br>
    <input style="width:50%" type="button" name="RESCHEDULE" VALUE="SEAT AVAILABILITY" class="btn btn-success" (click)= "SEAT()"><br><br>
    <!-- CANCEL FLIGHT</a> -->
    <input type="button" value="LOGOUT" class="btn btn-success" (click)="logout() ">
    </div>