<!-- <div id=signup>
  <br>
  <br>
  <form #formObj1="ngForm" (ngSubmit)="verify1(formObj1.value)" >
    <!-- <input type="text" name="passengerId" placeholder="Enter any Id" ngModel><br><br> 
    <input type="text" name="firstName" placeholder="Firstname" ngModel><br><br>
    <input type="text" name="lastName" placeholder="Lastname" ngModel><br><br>
    <input type="text" name="age" placeholder="Age" ngModel><br><br>
    <input type="text" name="emailId" placeholder="Emailid" ngModel><br><br>
    <input type="text" name="phoneNo" placeholder="Phoneno" ngModel><br><br>
    <input type="password" name="password" placeholder="Enter password" ngModel><br><br>
    <input type="submit" value="submit">
  </form>
</div>  -->

<br><br>
<div class="row">
    <div class="col-75">
      <div class="container">
          <form #formObj1="ngForm" (ngSubmit)="verify1(formObj1.value)">
  
          <div class="row">
           
  
            <div class="col-50">
              <h3>SIGNUP</h3>
              
              <input type="text" name="firstName" placeholder="Firstname" ngModel><br>
              
              <input type="text" name="lastName" placeholder="Lastname" ngModel><br>
              
              <input type="text" name="age" placeholder="Age" ngModel><br>
              <input type="text" name="emailId" placeholder="Emailid"  ngModel><br>
              <input type="text" name="phoneNo" placeholder="Phoneno" ngModel><br>
              <input type="password" name="password" class="form-control" placeholder="Enter password" ngModel><br>
              <input type="submit" value="Submit" class="btn" >
  
              
            </div>
  
          </div>
          
          
        </form>
      </div>
    </div>
  
    
  </div>